.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


body{
  background-color:#EEEEEE;
}
.todolist{
  background-color:#FFF;
  padding:20px 20px 10px 20px;
  margin-top:30px;
}

.ui-state-default{
  background:#fff;
  border:none;
  border-bottom:1px solid #ddd;
  text-align: left;
}

.ui-state-default:last-child{
  border-bottom:none;
}

.todo-footer{
  background-color:#F4FCE8;
  margin:0 -20px -10px -20px;
  padding: 10px 20px;
}

#done-items li:last-child{
  border-bottom:none;
}
#checkAll{
  margin-top:10px;
}

.margin-auto{
  margin: auto;
}